.card-list {
  margin: 0;
  padding: 70px 70px 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 20px;
  row-gap: 38px;
  min-width: 320px;
  width: 100%;
}