.profile {
  padding: 74px 0 70px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  margin: 0 auto 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__input-container {  
  width: 410px;
  display: flex;
  justify-content: space-between;
}

.profile__stroke {
  margin: 16px auto 17px;
  width: 410px;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.profile__input-label {
  width: 50px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  text-align: right;
}

.profile__input:hover {
  outline: 1px solid #2be080;
  border-radius: 8px;
}

.profile__input:focus {
  outline: 1px solid #00000060;
  border-radius: 3px;
  text-align: left;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile__error-hint {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 410px;
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.profile__buttons {
  margin: 220px auto 0;
  width: 410px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.profile__button {
  border: 0;
  background: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.profile__button:disabled {
  cursor: default;
  opacity: .8;
}

.profile__button:disabled:hover {
  text-shadow: none;
}

.profile__button:hover {
  text-shadow: 0 4px 4px #00000060;
}

.profile__button:focus {
  outline: 1px solid #00000060;
}

.profile__button_type_exit {
  font-weight: 500;
  color: #ee3465;
}

@media screen and (max-width:1279px) {
  .profile {
    padding: calc(236px - 162 * (100vw - 768px)/511) 0 0;
  }

  .profile__greeting {
    margin: 0 auto calc(80px + 43 * (100vw - 768px)/511);
  }

  .profile__buttons {
    margin: calc(210px + 10 * (100vw - 768px)/511) auto 0;
  }
}

@media screen and (max-width:768px) {
  .profile {
    padding: calc(70px + 166 * (100vw - 320px)/448) 0 0;
  }

  .profile__greeting {
    margin: 0 auto calc(80px + 16 * (100vw - 320px)/448);
  }

  .profile__input-container {
    width: calc(260px + 150 * (100vw - 320px)/448);
  }
  
  .profile__error-hint {
    width: calc(260px + 150 * (100vw - 320px)/448);
  }  

  .profile__stroke {
    width: calc(300px + 110 * (100vw - 320px)/448);
  }

  .profile__buttons {
    margin: calc(379px - 169 * (100vw - 320px)/448) auto 0;
    width: calc(260px + 150 * (100vw - 320px)/448);
  }
}

@media screen and (max-width:320px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__greeting {
    margin: 0 auto 80px;
  }

  .profile__input-container {
    width: 260px;
  }

  .profile__stroke {
    width: 260px;
  }

  .profile__buttons {
    margin: 379px auto 0;
    width: 300px;
  }
}