
.logo {
  width: 38px;
}

.logo:focus {
  outline: 1px solid #00000060;
  border-radius: 8px;
}

.logo-image {
  width: 38px;
  object-fit: cover;
  transition: .3s;
}

.logo-image:hover {  
  transform: scale(1.05);
}