.more-movies {
  padding: 50px 0 80px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}

.more-movies-button {
  width: 320px;
  height: 36px;
  background: none;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: .3s;
}

.more-movies-button:hover {
  color: #2be080;
}

@media screen and (max-width: 767px) {
  .more-movies-button {
    width: calc(240px + 80 * (100vw - 320px)/447);
  }
}